# Global code owners
* @glcp/cafe-core

# Code owners per service
# The convention is to create a GitHub team for each service with the naming convention 'cafe-lib-<SERVICE>'.
**/acct_mgmt @glcp/cafe-lib-acct-mgmt
**/add @glcp/cafe-lib-add
**/adi @glcp/cafe-lib-adi
**/aop @glcp/cafe-lib-aop
**/app_catalog @glcp/cafe-lib-app-catalog
**/app_prov @glcp/cafe-lib-app-prov
**/audit_logs @glcp/cafe-lib-audit-log
**/authn @glcp/cafe-lib-authn
**/authz @glcp/cafe-lib-authz
**/ccs_manager @glcp/cafe-lib-ccs-manager
**/commons @glcp/cafe-lib-commons
**/sm @glcp/cafe-lib-sm
**/ui_doorway @glcp/cafe-lib-ui-doorway
**/report_mgmt @glcp/cafe-lib-reporting_fw
