# Byte-compiled / optimized / DLL files / caches
**/__pycache__/
**/.pytest_cache/
*.py[cod]
*$py.class
.idea

# Distribution / packaging
var/
wheels/
tmp/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
automation_libs/poetry.lock
automation_libs/dist/

